@import "../../node_modules/scss-reset/reset";
@import "./vars";

html {
  font-family: "Roboto";
  scroll-behavior: smooth;
}

.title {
  color: $dark;

  &__h1 {
    font-size: 78px;
    font-weight: 600;
  }

  &__h2 {
    font-size: 45px;
    font-weight: 600;
  }

  &__h3 {
    font-size: 30px;
    font-weight: 600;
  }

  &__h4 {
    font-size: 20px;
    font-weight: 600;
  }

  &__h5 {
    font-size: 16px;
    font-weight: 600;
  }
}

.button {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  transition: background 0.3s;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  cursor: pointer;
  padding: 15px;
  color: #fff;

  &--blue {
    background-color: $blue;

    &:hover {
      background-color: $light-blue;
    }
  }

  &--orange {
    background-color: $orange;

    &:hover {
      background-color: $light-orange;
    }
  }

  &__title {
    font-weight: 700;
  }

  &__text {
    font-weight: 400;
  }
}

.container {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__logo {
    width: 250px;
    margin-left: 20px;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
  }

  &__nav {
    margin-right: 20px;
  }

  &__content {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  &__container {
    display: flex;

    @include tablet {
      flex-direction: column;
      gap: 50px;
    }
  }

  &__text {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__button {
    max-width: 250px;
    display: none;

    @include tablet {
      display: flex;
      padding: 25px;
    }
  }

  &__form-wrapper {
    flex: 0 1 100%;
    display: flex;
    justify-content: end;
    max-width: 500px;
    margin: 0 0 0 20px;

    @include tablet {
      display: none;
    }
  }

  &__form {
    background: $orange;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px $dark;
  }

  &__title {
    color: #fff;

    @include tablet {
      font-size: 64px;
    }
  }

  &__subtitle {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 500;
    color: #fff;

    @include tablet {
      font-size: 30px;
    }
  }

  &__background {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    filter: brightness(0.4);
  }
}

.logo {
  display: block;

  &__img {
    width: 100%;
  }
}

.nav {
  &__list {
    display: flex;
    gap: 50px;
  }

  &__link {
    padding: 50px 0;
    text-decoration: none;
    color: $dark;
  }
}

.services {
  padding: 100px 0;
  &__title {
    margin-bottom: 70px;
    text-align: center;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.service-card {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;

  &__photo {
    width: 100%;
    margin-bottom: 15px;
  }

  &__img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.7);
    transition: filter, transform 0.3s;

    &:hover {
      transform: scale(1.03);
      filter: brightness(1);
    }
  }

  &__title {
    margin-bottom: 5px;
  }

  &__text {
    margin-bottom: 30px;
  }
}

.about {
  display: flex;

  &__content {
    flex: 0 0 100%;
    position: relative;
    display: flex;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__text {
    max-width: 50%;
    box-sizing: border-box;
    padding: 100px 50px 100px 0;
  }

  &__list {
    list-style-type: disc;
    transform: translateX(25px);
    margin: 20px 0;
  }

  &__background {
    position: absolute;
    background-color: $orange;
    width: 50%;
    height: 100%;
    top: 0;
    z-index: -1;
  }

  &__title {
    color: #fff;
  }

  &__paragraph {
    margin-top: 50px;
  }

  &__photo {
    flex: 0 0 50%;
    transform: translateX(-100%);
    position: relative;
    padding-bottom: 30%;
  }

  &__image {
    max-width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: brightness(0.7);
  }
}

.work {
  padding: 100px 0;

  &__title {
    text-align: center;
  }

  &__container {
    display: flex;
    margin-top: 70px;
    align-items: start;

    @include tablet {
      flex-direction: column;
      gap: 50px;
    }
  }

  &__wrapper {
    display: flex;
    flex: 1 1 100%;
    align-items: start;
    justify-content: space-between;

    @include tablet {
      gap: 20px;
    }
  }

  &__item {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__arrow {
    width: 100%;
    max-width: 80px;

    @include tablet {
      display: none;
    }
  }

  &__circle {
    width: 100px;
    height: 100px;
    background-color: $blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
  }

  &__subtitle {
    margin-top: 20px;
  }

  &__text {
    margin-top: 10px;
    text-align: center;
  }
}

.benefits {
  &__photo {
    width: 100%;
    position: relative;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 100;
    text-align: center;
  }

  &__img {
    width: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    height: 400px;
    filter: brightness(0.4);
    display: block;
  }

  &__list {
    display: flex;
  }

  &__item {
    flex: 0 1 100%;
  }

  &__content {
    display: flex;
  }

  &__card {
    padding: 50px 120px;
    flex: 1 1 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $dark;
    font-size: 16px;
    color: #fff;

    @include tablet {
      padding: 50px 20px;
    }

    &--orange {
      background-color: $orange;
    }

    &--blue {
      background-color: $light-blue;
    }

    &--gray {
      background-color: $light-dark;
    }
  }
}

.order {
  padding: 150px 0;
  background-color: $orange;

  &__container {
    display: flex;
    gap: 50px;
  }

  &__text {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    color: #fff;
  }

  &__subtitle {
    margin-top: 10px;
    color: $dark;
  }

  &__form-wrapper {
    flex: 0 1 100%;
  }

  &__form {
    max-width: 500px;
  }
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;

  &__title {
    margin-bottom: 30px;
  }

  &__label {
    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }

  &__input {
    border: none;
    outline: none;
    margin-top: 5px;
    padding: 15px;
    height: 45px;
    box-sizing: border-box;
  }

  &__button {
    margin-top: 50px;
    border: none;
    padding: 15px;
  }

  &--required {
    border: 2px solid red;
  }
}

.achievements {
  padding: 100px 0;

  &__title {
    text-align: center;
  }

  &__container {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    gap: 50px;
  }
}

.achievement {
  max-width: 220px;
  border-radius: 16px;
  overflow: hidden;
  background-color: $dark;
  display: flex;
  flex-direction: column;

  &__number {
    padding: 40px 0;
    background-color: $blue;
    color: #fff;
    display: flex;
    justify-content: center;
  }

  &__text {
    flex: 0 1 100%;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    display: flex;
    align-items: center;
  }
}

.footer {
  position: relative;
}

.contacts {
  padding: 30px 60px 30px 30px;
  background-color: #fff;
  box-shadow: 1px 0.5px 5px #b9b9b9;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  color: $dark;

  &__block {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  &__item {
    margin-top: 10px;
  }

  &__link {
    text-decoration: none;
    color: $dark;
    font-size: 20px;
    margin-top: 20px;
    transition: color 0.3s;

    &:hover {
      color: $blue;
    }
  }
}
